[submodule "src/Pyros3D/Ext/imgui"]
	path = src/Pyros3D/Ext/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "src/Pyros3D/Ext/box3d"]
	path = src/Pyros3D/Ext/box3d
	url = https://github.com/erincatto/box3d.git
[submodule "src/Pyros3D/Ext/box2d"]
	path = src/Pyros3D/Ext/box2d
	url = https://github.com/erincatto/box2d.git
